@import url('https://fonts.googleapis.com/css?family=Lato|Muli:200');

$ng: #39ff14;
$p-bg: rgba(0,0,0, .8);

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Lato';
    font-size: 1em;
    color: $gray-lightest;
}

#logo-img {
    padding: .5em;
}

#sitename {
    font-size: 1.2em;
    color: $gray-lightest;
    font-family: 'Muli';
}

.btn-danger {
    font-size: 1em;
}

#main-page-bg {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    background: url('../img/b-man-skew.jpg');
    background-size: cover;
}

#contact-form, #about {
    background-color: $gray-dark;
    color: $gray-lightest;
    .btn-primary {
      color: $gray-dark;
    }
    .btn-primary:hover {
      background: none;
      color: $ng;
    }
}

.nav-item a {
  font-size: 1.2em;
  background: none;
  color: $gray-lightest;
  font-family: 'Muli';
}

nav-item .show {
    background-color: $gray-dark;
    color: $ng;
}

.nav-item:hover .nav-link, .nav-item:active .nav-link {
    color: $ng;
}

.dropdown-menu {
    background:none;
    color: $gray-lightest;
}

a.dropdown-item {
    font-size: 1em;
    padding: 0 1.5em;
}

.dropdown-item:hover {
    background: none !important;
    color: $ng;
}

#calc-close, #connect-close {
  color: white;
  margin-bottom: 1em;
}

.nav-item.show .nav-link {
    background: none !important;
    color: $ng !important;
}

.btn-main-nav:hover {
    background-color: $ng;
    color: $gray-dark;
    border: 1px solid $ng;
}

.btn-outline-primary:hover {
  color: $gray-dark;
}

#calculator {
  padding: 2em;

  #clc-cnt {
    background-color:  $p-bg;
  }

  .btn-lg {
    font-size: 1em;
    width: 100%;
  }

  #display {
    height: 2em;
    width: 100%;
    color: $ng;
    background-color: $gray-dark;
  }

  #see-more {
    margin-top: 2em;
  }

  #result {
    min-height: 2em;
    margin-left: 2.5em;
    padding-left: 1em;
    color: $ng;
    background-color: $gray-dark;
  }

}

#connect {
  padding: 3em;
  #cnct-cnt {
      background-color: $p-bg;
  }

    #board {
      padding: 0;
      border-spacing:0;
    }
    tr {
      border-collapse:collapse;
      border: 3px solid blue;
    }
    td {
      padding:0px;
      background-color:yellow;
      border: 3px solid blue;
      border-collapse: collapse;
      vertical-align:top;
      align-content:center;
    }
    .red, .blue, .gray {
      display:table;
      border-radius:500px;
      width:50px;
      height:50px;
      margin: 5px;
      border:none;
      box-shadow: 2px 2px 10px 4px black inset;
    }
    .red, #redheader {
      background-color: red;
    }
    #redheader, #blueheader {
      color: white;
      font-size:24px;
    }
    .blue, #blueheader{
      background-color: blue;
    }
    .gray {
      background-color: white;
    }
    button.gray:hover {
        box-shadow: 5px 5px 20px 10px black inset;
    }
}
