body {
  min-width: 800px;
}
#container-logo {
  display:flex;
  width: 100px;
  height:100px;
  margin: 40px auto;
}

#logoabout {
  display:inline-block;
  height:100%;
  width:100%;
  background-image: url("../images/DSLogo.png");
  background-size: contain;
}

.familiarwith {
  font-size: 80%;
}

#pic-container {
  display:inline-block;
  height: 300px;
  width: 300px;
  float: right;
  margin: 20px 40px 20px 20px;
}

#picture {
  height:100%;
  width:100%;
  background-image: url("../images/Dom.jpg");
  background-size: cover;
  border-radius: 10px;
}

#about {
  margin:20px;
}

#container-links {
  margin: 40px;
  font-size: 80%;
}

#aboutlinklist {
  list-style: none;
  display:inline-block;
}

#aboutlinklist li {
  display:inline-block;
  margin:0px;
  padding:0px;
  vertical-align:top;
}

#aboutlinklist .aboutlinks {
  margin: 10px;
}

.aboutlinks {
  text-decoration:none;
  padding: 2px 8px;
  background-color: white;
  color: #3b72cd;
  border: 1px solid #3b72cd;
  border-radius: 5px;
}

.aboutlinks:hover {
  background-color: #3b72cd;
  color: white;
  border: 1px solid white;
}
