body {
  width: 100%;
  font-size: 20px;
  font-family: Arial;
  box-sizing:border-box;
  color: rgba(0,0,0,.8);
  margin:0px;
  background-color: white;
}

body::-webkit-outer-spin-button,
body::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  min-width: 80px;
  padding: 5px 20px;
  font-size: 14px;
  font-family: sans-serif;
}

input:hover {
  background-color: white;
  color: #3b72cd;
}

.indent {
  margin-left: 20px;
}

fieldset {
  background-color: #3b72cd10;
  border: 5px solid #3b72cd40;
}

#container-main {
    margin: 20px 30px;
}

#explodiball-play {
    display: block;
    text-decoration: none;
    text-align:center;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 9px 25px 0 rgba(0,0,0,0.19);
    padding: 10px 60px;
    background-color: #3b72cd;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    width: 50px;
    margin: 0px auto;
    border:none;
}

#explodiball-play:hover {
    background-color: white;
    color: #3b72cd;
}

#ebimg {
    display:block;
    margin: 0px auto;
}

.mainPage {
    margin: 40px auto;
}
